.idea
.env

*.bs.js
node_modules/
/fe/yarn.lock
/fe/.DS_Store
/fe/.merlin
/fe/.bsb.lock
/fe/npm-debug.log
/fe/lib/bs/
/fe/node_modules/
/fe/build/
/fe/yarn-error.log
/fe/.vs/
/be/vendor/
/be/config.php
/be/config_cba.php
/be/config_webd.php
/be/var
