*.bs.js
.env
node_modules/
/fe/.DS_Store
/fe/.merlin
/fe/.bsb.lock
/fe/npm-debug.log
/fe/lib/bs/
/fe/node_modules/
/fe/build/
/fe/yarn-error.log
/fe/.vs/
/be/vendor/
/be/config.php
/be/config_cba.php
/be/var
