.idea
.env

*.bs.js
node_modules/
/db_data
/fe/.DS_Store
/fe/.merlin
/fe/.bsb.lock
/fe/npm-debug.log
/fe/lib/bs/
/fe/build/
/fe/yarn-error.log
/fe/.vs/
/fe/.graphql_ppx_cache/
/be/vendor/
/be/config.php
/be/config_cba.php
/be/config_webd.php
/be/cache
/nbproject