@import 'src/components/colors.scss';
$win-color: #28a745;
$loose-color: #dc3545;
.ratingsHistory {
  .row {
    >div {
      padding-left: 5px;
      padding-right: 5px;
    }
  }

    .warningMsg {
      text-align: center;
      margin-top: 10px;
      color: $warning-color;
    }

    .loadingMsg {
      text-align: center;
      margin-top: 10px;
      color: $progress-msg-color;
  }

    .ratingsHistoryTable {
        tr.win, .winsSum {
            color: $win-color,
        }

        tr.loose, .loosesSum {
            color: $loose-color;
        }

        .loosesLabel {
            margin-left: 10px;
        }
    }
}