@import 'src/components/colors.scss';
.ratingsHistory {
    .warning {
        color: $warning-color;
    }

    .ratingsHistoryTable {
        margin-top: 10px;

        .lpTd, .ratingTd {
            text-align: center
        }
    }
}