@import 'src/components/colors.scss';

.users {
    thead {
        color: darkgray;
    }
    tbody {
        color: darkblue;
    }

    .ratingTd, .posTd {
        text-align: center;
    }

    .nameTd {
        padding-left: 5px;
    }

    .loading {
      text-align: center;
      margin-top: 10px;
      color: $progress-msg-color;
  }
}