@import 'src/components/colors.scss';

.users {
    .posTd {
        text-align: center;
    }

    .loading {
      text-align: center;
      margin-top: 10px;
      color: $progress-msg-color;
  }
}