.users {
  .teamTd .fa-tint { color: #b32323; }
  .teamTd .fa-shield-alt { color: #b4b33a; }
  .teamTd .fa-user-secret { color: #3a2578; }
  .teamTd .fa-thumbs-up { color: #3b842e; }
  .teamTd .fa-tools { color: #69501d; }
}