@import 'src/components/colors.scss';
.gameResult {
    .messageContainer {
        margin-top: 3px;
        height: 23px;

        .warning {
            color: $warning-color;
        }
        .saving {
            color: $progress-msg-color;
        }
        .success {
          color: $success-msg-color;

          .success-rating-diff {
            font-weight: bold;
            font-size: 20px;
          }
        }
    }

    .col {
      padding-left: 5px;
      padding-right: 5px;
    }

    .colButton {
      display: flex;
      align-items: flex-end;
    }
}