@import 'src/components/colors.scss';
.loginPage {
    text-align: center;

    .wrongPass {
        color: $warning-color;
        margin-bottom: 20px;
    }

    .FailureMask {
      margin-bottom: 20px;
    }
}