@import 'src/components/colors.scss';

.contentContainer {
    .sectionLabel {
        font-size: 20px;
        font-weight: bold;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .section {
        margin-left: 10px;
    }

    .loadingMsg {
        text-align: center;
        margin-top: 30px;
        color: $progress-msg-color;
    }
}